{% extends "tasks/base.html" %}

{% block pagetitle %}sign up{% endblock %}

{% block title %}create an account{% endblock %}

{% block body %}
{% if serr %}<div class="login_error">{{ serr }}</div>{% endif %}
    {% if perr %}
        <div class="login_error">Passwords do not match. Please try again.</div>
    {% endif %}
    {% if uerr %}
        <div class="login_error">Username already exists. Please choose another.</div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="login_div">
                <div class="login_label">{{ field.label_tag }}</div>
                <div class="login_error">{{ field.errors.0 }}</div>
                <div class="login_input">{{ field }}</div>
            </div>
        {% endfor %}
        <div class="save"><input type="submit" value="Sign up" /></div>
    </form>
{% endblock %}
