{% extends "tasks/base.html" %}

{% block pagetitle %}{{ tasklist.title }}{% endblock %}

{% block links %}
    <a title="Cancel" href="{% url 'tasks:details' tasklist.id %}">&times;</a>
{% endblock %}

{% block title %}{% if new %}add a task{% else %}edit task{% endif %}{% endblock %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form_div">
                <div class="form_label">{{ field.label_tag }}</div>
                <div class="form_error">{{ field.errors.0 }}</div>
                <div class="form_input">{{ field }}</div>
            </div>
        {% endfor %}
        <div class="save"><input type="submit" value="Save Task" /></div>
    </form>
{% endblock %}
