<!DOCTYPE html>
<html>
{% load staticfiles %}
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <span class="base_left">
        <a class="home_link" href="{% url 'tasks:index' %}">Home</a>
        {% block links %}{% endblock %}
    </span>
    <span class="base_right">
        {% block body %}{% endblock %}
    </span>
  </body>
</html>
