<!DOCTYPE html>
<html>
{% load staticfiles %}
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="base_head">
        <a class="home_link" href="{% url 'tasks:index' %}">Home</a>
        <a class="logout_link" href="{% url 'logout' %}">Log out</a>
        <div class="extra_links">
            {% block links %}{% endblock %}
        </div>
    </div>
    <div class="base_body">
        <div class="base_wrapper">
            <h1>{% block title %}{% endblock %}</h1>
            <hr />
            {% block body %}{% endblock %}
        </div>
    </div>
  </body>
</html>
