{% extends "tasks/base.html" %}

{% block body %}
    <h1>{{ tasklist.title }} ({{ tasklist.category }})</h1>
    <h2>Description: {{ tasklist.description }}</h2>
    {% for task in tasks_list %}
        <div class="details_task">
        	<a href="{% url 'tasks:edit' task.id %}">Edit</a>
            <span class="task">{{ task.title }} -- {{ task.description }}</span>
            <a href="{% url 'tasks:check_task' task.id %}"><span class="status{{ task.is_completed }}">{%if task.is_completed%}[+]{%else%}[-]{%endif%}</span></a>
            <span class="delete"><a href="{% url 'tasks:delete_task' task.id %}">[x]<!-- TODO: Add 'x' image and remove--></a></span>
        </div>
    {% endfor %}
    <form class="addbutton" action="addTask/"><button type="submit">Add Task</button></form>
{% endblock %}
