{% extends "tasks/base.html" %}

{% block title %}{{ tasklist.title }}{% endblock %}

{% block body %}
    <div class="details_summary">
        <div class="details_description">{{ tasklist.description }}</div>
        <div class="details_category">Category: {{ tasklist.category }}</div>
    </div>
	<div class="details_list">
        {% for task in tasks_list %}
        <div class="details_task{% if task.is_late %}_late{% endif %}">
            <div class="details_tasksumm">
                <a href="{% url 'tasks:check_task' task.id %}"><span class="status{{ task.is_completed }}">&nbsp;</span></a>
                <div class="details_title">{{ task.title }}</div>
                <div class="details_due">Due: {{ task.due_date|date:"m/d/y" }}</div>
                <div class="details_taskdesc">{{ task.description }}</div>
            </div>
            <div class="details_modify">
                <a class="details_edit" href="{% url 'tasks:edit' task.id %}">edit</a>
                <a class="details_delete" href="{% url 'tasks:delete_task' task.id %}"><span class="delete">&nbsp;</span></a>
            </div>
        </div>
        {% endfor %}
	</div>
    <form action="addTask/"><button class="add" type="submit">Add Task</button></form>
{% endblock %}
