{% extends "tasks/base.html" %}

{% block body %}
    <h1>{{ tasklist.title }} ({{ tasklist.category }})</h1>
    <h2>Description: {{ tasklist.description }}</h2>

    {% for task in tasks_list %}
        <div class="details_task">
            <span class="task">{{ task.title }} -- {{ task.description }}</span>
            <span class="delete"><a href="{% url 'tasks:delete_task' task.id %}">x<!-- TODO: Add 'x' image and remove--></a></span>
        </div>
    {% endfor %}

    <form action="addTask/"><button type="submit">Add Task</button></form>
{% endblock %}
