{% extends "base.html" %}

{% block body %}
    <form action="{% url 'tasks:save_task' task.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="title"       id="title"       value="{{ task.title }}"       />
        <input type="text" name="description" id="description" value="{{ task.description }}" />
        <input type="text" name="category"    id="category"    value="{{ task.category}}"     />
        <input type="text" name="due_date"    id="due_date"    value="{{ task.due_date}}"     />
        <input type="text" name="completed"   id="completed"   value="{{ task.completed}}"    />
        <input type="hidden" name="id" value="{{ task.id }}">
        <input type="submit" value="Save Task" />
    </form>
{% endblock %}
