<html>

<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}" />
</head>

<body>

<span class="left">
<h1>E<br/>D<br/>I<br/>T</h1>
</span>
<span class="right">
<form action="{% url 'tasks:save' tasklist.id %}" method="post">
{% csrf_token %}
	<div>
		<input type="text" name="title" id="title{{ forloop.counter }}" value="{{ tasklist.title }}" />
		<input type="text" name="description" id="description{{ forloop.counter }}" value="{{ tasklist.description }}" />
		<input type="text" name="description" id="description{{ forloop.counter }}" value="{{ tasklist.category}}" />
	</div>
	<p> TASKS </p>
	<div>
	
{% for task in tasklist.task_set.all %}	
		<input type="text" name="title" id="title{{ forloop.counter }}" value="{{ task.title }}" />
		<input type="text" name="description" id="description{{ forloop.counter }}" value="{{ task.description }}" />
		<input type="text" name="description" id="description{{ forloop.counter }}" value="{{ task.category}}" />
		<input type="datetime-local" name="description" id="description{{ forloop.counter }}" value="{{ task.due}}" />
	</div>
    <br />
{% endfor %}
	<div class="NewTask">
	</div>
<input type="submit" value="Save List" />
<input type="button" class="AddNew" value="New Task" />
</form>
</span>
</body>
</html>
