{% extends "tasks/base.html" %}

{% block links %}
    <a href="{% url 'tasks:details' tasklist.id %}">Back to {{ tasklist.title }}</a>
{% endblock %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <form method="post">
        {%csrf_token%}
        {% for field in form %}
            <div class="form_div{% ifequal field.label 'Tasklist' %}_hidden{% endifequal %}">
                <div class="form_label">{{ field.label_tag }}</div>
                <div class="form_error">{{ field.errors }}</div>
                <div class="form_input">{{ field }}</div>
            </div>
        {% endfor %}
        <div class="save"><input type="submit" value="Save Task" /></div>
    </form>
{% endblock %}
