{% extends "tasks/base.html" %}

{% block body %}
    <h1>Index</h1>
    {% if task_list_list %}
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Delete</th>
            </tr>
            {% for tasklist in task_list_list %}
            <tr>
                <td><a href="{% url 'tasks:details' tasklist.id %}">{{ tasklist.title }}</a></td>
                <td>{{ tasklist.description }}</td>
                <td><a href="{% url 'tasks:delete_list' tasklist.id %}">[x]<!-- TODO: Add 'x' image and remove--></a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="index_tasklist">You have no task lists!</p>
    {% endif %}
    <form class="addbutton" action = "addList/">
        <button type = "submit">Add List</button>
    </form>
{% endblock %}
