{% extends "tasks/base.html" %}

{% block body %}
    <h1>My lists</h1>
    {% if task_list_list %}
        {% for tasklist in task_list_list %}
            <div class="list_div">
                <div class="list_header">
                    <a href="{% url 'tasks:details' tasklist.id %}">{{ tasklist.title }}</a>
                    <a class="delete_link" href="{% url 'tasks:delete_list' tasklist.id %}">x</a>
                </div>
                <div class="list_description">
                    <a href="{% url 'tasks:details' tasklist.id %}">{{ tasklist.description }}</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="list_header">You have no task lists!</div>
    {% endif %}
    <form class="add_button" action = "addList/">
        <button type = "submit">Add List</button>
    </form>
{% endblock %}
