.details_task .statusTrue {
    background-image:url("images/checked");
}

.details_task .statusFalse {
    background-image:url("images/unchecked");
}

.left { 
color: green; 
display:inline-block;
width:30%;
}

.right{
text-align:center;
display:inline-block;
margin-top:15px;
}
