body {
    background-color: lightgrey;
    background-image: url("images/tasks/checked");
}

.base_left {
    display: inline-block;
    height: 1000px;
    border-right: 1px solid black;
    vertical-align: top;
    padding-right: 30px;
    margin-right: 10px;
}

.base_left a {
    display: block;
}

.base_right {
    display: inline-block;
    vertical-align: top;
}

.addbutton {
    margin-top: 10px;
}

.details_task .statusTrue {
    color: green;
    background-image:url("images/tasks/checked");
    padding-left: 5px;
    padding-right: 5px;
}

.details_task .statusFalse {
    color: red;
    background-image:url("images/tasks/unchecked");
    padding-left: 5px;
    padding-right: 5px;
}

.index_tasklist {
}

a:link {
    text-decoration: none;
    color: darkgrey;
}

a:visited {
    text-decoration: none;
    color: darkgrey;
}

a:hover {
    text-decoration: none;
    color: darkgrey;
}

a:focus {
    text-decoration: none;
    color: darkgrey;
}

a:active {
    text-decoration: none;
    color: darkgrey;
}

.field_wrapper {
    display: block;
}
