/*
 * Site-wide styles
 */

body {
    background-color: #eee;
}

.base_head {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 30px;
    width: 100%;
    background-color: #1e8cbe;
    text-align: center;
}

.base_head a {
    color: lightgrey;
    vertical-align: center;
    float: center;
}

.base_head .home_link {
    position: absolute;
    left: 5px;
    top: 5px;
}

.base_head .logout_link {
    position: absolute;
    right: 5px;
    top: 5px;
}

.base_head .extra_links {
    margin: auto;
    padding-top: 5px;
}

.base_body {
    padding-top: 30px;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.base_body a {
    color: black;
    vertical-align: center;
    float: center;
    /*display: inline-block;*/
}

.base_body .base_wrapper {
    margin-left: 5px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.delete {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("images/delete.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.add {
    margin-top: 10px;
}

/*
 * Index
 */

.list_div {
    margin-bottom: 10px;
}

.list_header {
    font-size: 150%;
}

.list_description {

}

/*
 * List details
 */

.details_summary {

}

.details_description {

}

.details_category {

}

.details_list {

}

.details_task {

}

.details_task .statusTrue {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("images/checked.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.details_task .statusFalse {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("images/unchecked.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.details_task_late {

}

.details_title {

}

.details_taskdesc {

}

.details_due {

}

.details_upcoming {

}

.details_delete {

}

.details_edit {

}
